<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top w3-card w3-margin-bottom">
  <div class="w3-bar w3-white w3-wide w3-card w3-padding-16">
    <a routerLink="/art" class="w3-bar-item w3-button"><b>Flushing</b> New York</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a routerLink="/cart" class="w3-bar-item w3-button">Cart</a>
      <a routerLink="/graphic" class="w3-bar-item w3-button">Graphic Design</a>
      <a href="https://angular-graphic-design.stackblitz.io/" class="w3-bar-item w3-button">My Store</a>
    </div>
  </div>
</div>

<!-- Header / JSON driven image -->
<br>
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="{{profile.city}}" alt="Architecture" width="1500" height="500">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-grey"><span class="w3-padding w3-black w3-opacity-min"><b>NYC</b></span> <span class="w3-hide-small w3-text-light-grey">from across the river</span></h1>
  </div>
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Project Section / JSON driven images -->
  <div class="w3-container w3-padding-32" id="projects">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Features</h3>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-grey w3-padding">7 Train</div>
        <img src="{{profile.train}}" alt="House" style="width:100%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-grey w3-padding">Asain Food</div>
        <img src="{{profile.food}}" alt="House" style="width:100%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-grey w3-padding">Queens Public Library</div>
        <img src="{{profile.library}}" alt="House" style="width:100%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-grey w3-padding">Historic</div>
        <img src="{{profile.history}}" alt="House" style="width:100%">
      </div>
    </div>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-grey w3-padding">Sky View Mall</div>
        <img src="{{profile.mall}}" alt="House" style="width:99%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-grey w3-padding">The Globe</div>
        <img src="{{profile.globe}}" alt="House" style="width:99%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-grey w3-padding">Flushing Meadows</div>
        <img src="{{profile.park}}" alt="House" style="width:99%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-grey w3-padding">Main Street</div>
        <img src="{{profile.main}}" alt="House" style="width:99%">
      </div>
    </div>
  </div>

  <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
    <p>Multicultural Flushing is home to the city’s largest Chinatown, with bustling sidewalks, a tumult of shops, and eateries serving soup dumplings to Taiwanese pancakes. Korean and Indian cultures are well represented too. Built in 1862, Flushing Town Hall now hosts jazz concerts, and several historic homes date to the 17th and 18th centuries. The Queens Botanical Garden is a 39-acre oasis with a focus on native plants.
    </p>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="{{profile.garden}}" alt="Garden" style="width:100%">
      <h3>Queens Botanical Garden</h3>
      <p class="w3-opacity">Parks & Recreation</p>
      <p>Queens Botanical Garden is a botanical garden located at 43-50 Main Street in Flushing, Queens, New York City. The 39-acre site features rose, bee, herb, wedding, and perennial gardens; an arboretum; an art gallery; and a LEED-certified Visitor & Administration Building..</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="{{profile.map}}" alt="Map" style="width:100%">
      <h3>Directions</h3>
      <p class="w3-opacity">Map</p>
      <p>Flushing is located in the heart of Queens. It accessible from the LIE, Grand Central pkwy, Van Wyck expwy and Corss Island Parkway.</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="{{profile.dinner}}" alt="Dinner" style="width:100%">
      <h3>Little Sheep Mongolian Hot Pot</h3>
      <p class="w3-opacity">Food</p>
      <p>Little Sheep Mongolian Hot Pot is a restaurant with a purpose. That purpose is to introduce all the of the great culinary traditions and flavors of Mongolia to the people of North America. Little Sheep creates an authentic experience for diners.</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="{{profile.hotel}}" alt="Hotel" style="width:100%">
      <h3>Hotels</h3>
      <p class="w3-opacity">Lodging</p>
      <p>Enjoy a variety of features during your stay at Hyatt Place Flushing / LaGuardia Airport, including free shuttle service to and from the LaGuardia airport..</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
  </div>

  <!-- Contact Section -->
  <div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Feedback to developer</h3>
    <p>Lets get in touch and talk about your next neighborhood portfolio.</p>
 
      <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="Email">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required name="Subject">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Comment" required name="Comment">
      <button class="w3-button w3-grey w3-section" type="submit">
        <i class="fa fa-paper-plane"></i> SEND MESSAGE
      </button>

  </div>
  
<!-- Image of Citifield -->
<div class="w3-container">
  <img src="{{profile.citifield}}" class="w3-image" style="width:100%">
</div>

<!-- End page content -->
</div>


<!-- Footer -->
<footer class="w3-center w3-grey w3-padding-16">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>

</body>
</html>